.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999999;
  width: 100%;
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-40%, 10%);
    z-index: -1;

    &:first-of-type {
      top: 40%;
    }
    &:last-of-type {
      top: 65%;
    }
  }

  .title-projects {
    position: fixed;
    right: 20%;
    top: 15%;

    h2 {
      font-family: 'Rache Rache';
      font-size: 7vw;
      color: #ece7e1;
      letter-spacing: 2px;
      text-align: right;

      span {
        &:first-of-type {
          padding-left: 25px;
          margin-right: -20px;
        }
      }
    }
  }

  img {
    width: 40%;
    height: auto;
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
    &:hover {
      transition: mask-position 3s ease,-webkit-mask-position 3s ease;
      -webkit-mask-position: 120%;
      mask-position: 120%;
      opacity: 1;
    }
  }

  .mt-40 {
    margin-top: -40px;
  }

  .ml-80 {
    margin-left: 80px;
  }
  
  .ml-n-80 {
    margin-left: -80px;
  }

  .mr-n-60 {
    margin-right: -60px;
  }

  .ml-n-450 {
    margin-left: -450px;
  }

  .mt-n-50 {
    margin-top: -50px;
  }
}

@media only screen and (max-device-width: 768px) {
  .projects-wrapper {
    .title-projects {
      right: 15%;

      h2 {
        font-size: 8vh;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) and (orientation : portrait) {
  .container-fluid {
    .row {
      // padding-top: 140px;

      &.scrollbar {
        backdrop-filter: blur(600px);
        -webkit-backdrop-filter: blur(600px);
        z-index: 4;
      }
    }
  }
  
  .projects-wrapper {
    .title-projects {
      top: 10%;
      z-index: 99999;

      h2 {
        span {
          &:first-of-type {
            padding-left: 15px;
            margin-right: -10px;
          }
        }
      }
    }

    .row {
      &:last-of-type {
        top: unset;
      }
      position: absolute;
      width: 70%;
      top: 18% !important;
      left: 60%;

      .col-md-3 {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) and (orientation : landscape) {
  .container-fluid {
    .row { 
      padding-top: 80px;

      &.scrollbar {
        backdrop-filter: blur(600px);
        -webkit-backdrop-filter: blur(600px);
        z-index: 4;
      }
    }
  }
  
  .projects-wrapper {
    .title-projects {
      top: 10%;
      z-index: 99999;

      h2 {
        span {
          &:first-of-type {
            padding-left: 10px !important;
            margin-right: -5px !important;
          }
        }
      }
    }

    .row {
      &:last-of-type {
        top: unset;
      }
      position: absolute;
      width: 50%;
      top: 18% !important;
      left: 60% !important;

      .col-md-3 {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {  
  .projects-wrapper {
    .title-projects {
      top: 10%;
      z-index: 99999;

      h2 {
        span {
          &:first-of-type {
            padding-left: 15px;
            margin-right: -15px;
          }
        }
      }
    }

    .row {
      &:last-of-type {
        top: unset;
      }
      top: 40% !important;
      left: 50%;
      transform: translateX(-45%);

      .col-md-3 {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-device-width : 767px) {
  .mobile-header-links {
    .navbar-toggler {
      top: -400%;
      right: -4%;
      transform: none;
    }
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) and (orientation : landscape) { 
  .mobile-header-links {
    position: absolute;
    top: 25%;
    right: 3%;

    .navbar-toggler { 
      top: -100% !important;
      right: 0 !important;
      transform: none;
    }
  }
}

@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) { 
  .mobile-header-links {
    position: absolute;
    top: 30%;
    right: 3%;
  }

  .projects-wrapper {
    .title-projects {
      top: 10%;
      z-index: 99999;

      h2 {
        span {
          &:first-of-type {
            padding-left: 15px;
            margin-right: -15px;
          }
        }
      }
    }

    .row {
      &:last-of-type {
        top: unset;
      }

      top: 40% !important;
      left: 50%;
      transform: translateX(-45%);

      .col-md-3 {
        margin-bottom: 60px;
      }
    }
  }
}

@media only screen and (min-device-width: 820px) and (max-device-height: 1180px) and (orientation: portrait) {
  .mobile-header-links {
    position: absolute;
    top: 30%;
    right: 3%;
  }

  .projects-wrapper {
    .row {
      .ml-n-80 {
        margin-left: 0 !important;
        margin-top: 100px !important;
      }
      .col-md-6 {
        margin-top: 115px !important;
      }
    }

    .mt-40 {
      margin-top: 0;
    }

    .ml-n-450 {
      margin-left: -150px !important;
    }

    .col-md-2 {
      margin-top: -245px !important;
    }
  }  
}

@media only screen and (max-device-width: 768px) and (max-device-height: 1024px) and (orientation: portrait) {
  // .mobile-header-links {
  //   position: absolute;
  //   top: 20%;
  //   right: 3%;
  // }

  .projects-wrapper {
    .row {
      &:nth-of-type(2) {
        .col-md-2 {
          margin-top: -50px !important;
        }
      }
    }

    .ml-n-450 {
      margin-left: -50px;
    }

    .ml-n-80 {
      margin-left: 0;
    }
  }
}

@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) {
  .mobile-header-links {
    position: absolute;
    top: 50%;
    right: 3%;
  }

  .projects-wrapper {
    .ml-n-450 {
      margin-left: 0 !important;
    }
  }
}

@media only screen and (min-device-width: 1024px) and (min-device-height: 768px) and (max-device-width: 1366px) {
  .projects-wrapper {
    .ml-n-450 {
      margin-left: 0 !important;
    }

    .col-md-2 {
      margin-top: -150px;
    }
  }
}